// Ionic Variables and Theming
// For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6366f1;
  --ion-color-primary-rgb: 99, 102, 241;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #575ad4;
  --ion-color-primary-tint: #737af2;

  /** secondary **/
  --ion-color-secondary: #8b5cf6;
  --ion-color-secondary-rgb: 139, 92, 246;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #7a51d8;
  --ion-color-secondary-tint: #976cf7;

  /** tertiary **/
  --ion-color-tertiary: #06b6d4;
  --ion-color-tertiary-rgb: 6, 182, 212;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #05a0bb;
  --ion-color-tertiary-tint: #1fbdd8;

  /** success **/
  --ion-color-success: #10b981;
  --ion-color-success-rgb: 16, 185, 129;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ea372;
  --ion-color-success-tint: #28c08e;

  /** warning **/
  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a823;

  /** danger **/
  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  /** dark **/
  --ion-color-dark: #1e293b;
  --ion-color-dark-rgb: 30, 41, 59;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a2434;
  --ion-color-dark-tint: #353e4f;

  /** medium **/
  --ion-color-medium: #64748b;
  --ion-color-medium-rgb: 100, 116, 139;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #58667a;
  --ion-color-medium-tint: #748297;

  /** light **/
  --ion-color-light: #f1f5f9;
  --ion-color-light-rgb: 241, 245, 249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d4d8db;
  --ion-color-light-tint: #f2f6fa;
}
